# Ignore everything by default
*

# Allow only these specific files
!archive-locations.php
!archive-palveluntarjoajat.php
!archive-palvelut.php
!custom.js
!functions.php
!paikkakunnat.json
!search-palveluntarjoajat.php
!single-palveluntarjoajat.php
!single-palvelut.php
!style.css
!template-category.php

# Allow custom theme and plugin
!/wp-content/themes/oma-teema/
!/wp-content/plugins/oma-plugin/

# Allow ACF & CPT UI exports
!acf-fields.php
!cpt-post-types.json
!cpt-taxonomies.json
